@media only screen and (max-width: 600px) {
  
.home{

  width: 100%;
  height: 130vh;
padding-bottom: 60px;
}

.kartik_1{
width:    600px;


}
.about{
/* padding-top: 200px; */
  width: 100%;
  height: 210vh;
margin-bottom: 110vh;
}

.abcon{

margin-top: -300px;

}


.portfolio{

width: 100%;
height: 200vh;
/* background: #000; */
color: red;
/* margin-top: -300px; */


}

.pcon{


  margin-top: -800px;
}


.container{

width: 200px;
height: 100px;

display: grid;
  /* grid: 300px / auto auto auto; */
  /* grid-gap: -200px; */
  
  /* background-color: #2196F3; */
  /* padding: 10px; */
/* justify-content: space-around; */
/* align-items: center; */
/* padding-left: -200px; */
/* display: grid; */
      /* grid-template-columns: repeat(2, 1fr);  */
      grid-auto-rows: 200px; 
/* padding-bottom: 100px; */

}



.experience{

width: 100%;
height: 200vh;
padding-top: 900px;
/* margin-top: -300px; */
}


.exp_container{

width: 250px;
height: 100px;

padding: 50px;
/* justify-content: space-around; */
/* align-items: center; */
/* padding-left: -200px; */
display: grid;
      grid-template-columns: repeat(2, 1fr); 
      /* grid-auto-rows: 200px;  */
 /* grid: 100px / auto auto auto; */
}

.exp{

width: 100%;
height: 100%;

}


.contact {

width: 100%;
height: 250vh;
padding-top: 800px;

}


.about{

padding-top: 40px;  

}

  }